<div ng-controller="HomeController">
<section id = "data">
    <div class="container placing">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <label class="sr-only" for="search"></label>
                <input type="search" ng-model="name" class="form-control text-input-mainpage center-block" id="search" placeholder="Search for Restaurants">
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <label class="sr-only" for="location"></label>
                <input type="text" ng-model="place" class="form-control text-input-mainpage center-block" id="location" placeholder="Location">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                <button role="button" ng-click="search(name,place)"  class="btn btn-info search-button-mainpage center-block">
                    <span class="glyphicon glyphicon-search" aria-hidden="true">Search</span></button>
            </div>
        </div>
    </div>
</section>

    <div class="container">
    <h3>Search Results</h3>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Picture</th>
            <th>Address</th>
            <th>Contact</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="hotel in data.response.venues">

            <td>{{hotel.name}}</td>

            <td>{{hotel.categories[0].icon.prefix + hotel.categories[0].icon.suffix}}</td>

            <td>{{hotel.location.address}}</td>

            <td>{{hotel.contact.phone}}</td>

        </tr>
        </tbody>
    </table>
</div>
</div>
</div>
