<section id = "data" ng-controller="HomeController">
    <div class="container placing">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <label class="sr-only" for="search"></label>
                <input type="search" class="form-control text-input center-block" id="search" placeholder="Search for Restaurants">
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <label class="sr-only" for="location"></label>
                <input type="text" class="form-control text-input center-block" id="location" placeholder="Location">
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                <a href="#" role="button"  class="btn btn-info search-button center-block">
                    <span class="glyphicon glyphicon-search" aria-hidden="true">Search</span></a>
            </div>
        </div>
    </div>
</section>