<div class="container users-image height-100-pct">
    <div class="row centered-form">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="center-block">
                <div class="form-header">
                    <h2>My Profile</h2>
                    <hr>
                </div>
                <div class="container-fluid form-container">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label" for="username">Username :</label>
                            <input type="text" ng-model ="model.user.username" id="username" class="form-control text-input center-block" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="password">Password :</label>
                            <input type="password" ng-model ="model.user.password" id="password" class="form-control text-input center-block" placeholder="Password">
                        </div>
                    <hr>
                        <div class="form-group">
                            <label for="firstname">First Name:</label>
                            <input type="text" ng-model ="model.user.firstName" id="firstname" class="form-control text-input center-block" placeholder="First Name"
                                   required data-toggle="floatLabel" data-value="no-js">
                        </div>
                        <div class="form-group">
                            <label for="lastname">Last Name:</label>
                            <input type="text" ng-model ="model.user.lastName" id="lastname" class="form-control text-input center-block" placeholder="First Name"
                                   required data-toggle="floatLabel" data-value="no-js">
                        </div>
                        <div class="form-group">
                            <label for="email1">Email:</label>
                            <input type="email" ng-model ="model.user.email" id="email1" class="form-control text-input center-block input-sm" placeholder="Email Address">
                        </div>
                        <hr>
                    <div class="form-group">
                        <button value="Update" ng-click = "model.update(model.user)" class="btn btn-info btn-block search-button center-block">Update</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8">
            <div class="center-block">
                <div class="form-header">
                    <h2>My Reviews</h2>
                    <hr>
                    <div ng-repeat="i in model.reviews">

                        <b>{{i.restaurantName}}</b>

                    <i>{{i.myReviews}}</i>
                     </div>


                </div>

                <div class="form-header">
                    <h2>My Favourites</h2>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" cellspacing="0">
                            <thead>
                            <tr>
                                <th>
                                    <a role="button"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true">
                            </span>&nbsp;Restaurants</a>
                                </th>
                                <th>
                                    <a role="button"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true">
                            </span>&nbsp;Action</a>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="hotel in model.forms">
                                <td>
                                    <a href="#/details/{{hotel.id}}">{{hotel.restaurantName}}</a>
                                </td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <a  ng-click = "model.deleteForm($index)" role="button" class="btn btn-default" aria-label="Add">
                                            <span  class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            <span class="hidden-xs"></span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
