<div class="container-fluid" ng-controller="SidebarController">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar responsive">
                <li ng-class="{'active' : $location.url().indexOf('home') != -1}">
                    <a href="#/home" role="button"  class="btn btn-justify">
                    <p class="list"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;&nbsp;Home
                        <span class="sr-only">(current)</span></p></a></li>

                <li ng-class="{'active' : $location.url().indexOf('profile') != -1}" ng-if = "user!=null">
                    <a href="#/profile" role="button" class="btn btn-justify">
                    <p class="list"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;Profile</p></a></li>

                <li ng-class="{'active' : $location.url().indexOf('admin') != -1}" ng-show="isAdmin()" class="ng-hide">
                    <a href="#/admin" role="button" class="btn btn-justify">
                    <p class="list"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;&nbsp;Admin</p></a></li>

                <li ng-class="{'active' : $location.url().indexOf('forms') != -1}" ng-if = "user!=null">
                    <a href="#/forms" role="button" class="btn btn-justify">
                    <p class="list"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;&nbsp;Forms</p></a></li>
            </ul>
        </div>
    </div>
</div>
