<h2>{{info.response.venue.name}}</h2>


<p>
    URL:
    {{info.response.venue.url}}
</p>


<p>
    Rating:
    {{info.response.venue.rating}}
</p>

<h2>Categories</h2>
<ul>
    <li ng-repeat="i in info.response.venue.categories">
        {{i.name}}
    </li>
</ul>

<h4>Photo</h4>
<!--{{info.response.venue.bestPhoto.id}}-->
<p><img src="{{info.response.venue.bestPhoto.prefix}}300x500{{info.response.venue.bestPhoto.suffix}}"></p>

<p>lat n long</p>
{{info.response.venue.location.lat}}
{{info.response.venue.location.lng}}


<div id="map_display"></div>




