html {
    height: 100%
}

body {
    height: 100%;
    /*margin-top: 50px;*/
    background-color: whitesmoke;
}

.height-100-pct {
    height: 100%;
}

.add-padding{

    padding-top: 50px;
}

.form-text-input {
    border-radius: 1px;
    height: 50px;
    background: #eee;
}

.image{
    background: url('../images/background-dim.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.users-image{
    background: url('../images/forks.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.placing
{
    padding-top: 350px;
}

@media (max-width: 768px) {
    .placing{

        padding-top: 150px;

    }
}
.centered-form{
    margin-top: 60px;
}

.text-input-mainpage {
    height: 60px;
    border:3px;
    border-radius: 10px;
    border-style: solid;
    border-color: #cb202d;
    box-shadow:none;
    background: white;
}


.search-button-mainpage {
    height: 60px;
    border: none;
    border-radius: 1px;
    background-color: #cb202d;
    padding-top: 15px;
    font-size: 18px;
}

.map_display{
    width: 500px;
    height: 400px;
}

.site-color-background {
    background-color: #cb202d;
}

.site-color {
    color: #cb202d;
}
.elevation3 {
    box-shadow: 0 5px 7px #999;
}

.search-header {
    padding: 60px 0 20px 0;
}

.elevation1 {
    box-shadow: 0 1px 3px #999;
}
.card {
    background: white;
    margin-top: 20px;
    z-index: 1;
}

.card-padding{
    padding-top: 20px;
    padding-bottom: 20px;
}
.card a {
    text-decoration: none;
    color: #333;
}
.card a:hover {
    text-decoration: none;
    color:  #cb202d;
}

.review {
    padding: 20px;
}
.review-textarea {
    border: none;
    border-radius: 1px;
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 20px;
    background-color: #eee;
}
.review-textarea:focus {
    color: #eee;
    background-color:  #cb202d;
}
.edit-review-textarea {
    border: none;
    border-radius: 1px;
    outline: none;
    max-width: 100%;
    min-width: 100%;
    background-color: white;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-style: none;
}
.edit-review-textarea:focus {
    color: #eee;
    background-color:  #cb202d;
}

.search-image {
    width: 80%;
    height: 80%;
}

.details-image {
    width: 300px;
    height: 350px;
}

.form-header {
    padding: 10px 10px 10px 10px;
}
.search-content {
    padding: 15px;
}
.search-result a{
    text-decoration: none;
}
.search-result:hover {
    background-color: #cb202d;
    color: #eee;
}
.search-result:hover a{
    color: #eee;
}
.banner {
    width: 100%;
    height: auto;
    min-height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.text-input {
    height: 50px;
    border-radius: 0;
    box-shadow: none;
    background: white;
}

.search-button {
    height: 60px;
    border: none;
    border-radius: 1px;
    background-color: #cb202d;
    padding-top: 10px;
    font-size: 18px;
}
.centered-form .panel{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.1) 20px 20px 20px;
}

.navbar-fixed-top
{
    background-color: #cb202d;
    font-weight: bold;
    border: none;
}

.navbar-inverse .navbar-nav>li>a {
    font-size: 16px;
    color: white;
}
.navbar-inverse .navbar-brand {
    font-size: 20px;
    color: white;
}

section {
}

.bg-primary {
    background-color: #cb202d;
}

.tab-pane{
    height: 600px;
    overflow: auto;
}