<!--<section id="data">-->
    <div class="image height-100-pct">
        <div class="container placing">
            <div class="row" id="text">
                <div class="col-sm-6 col-md-6 col-lg-6">
                        <label class="sr-only" for="search"></label>
                        <input type="text" ng-model="model.restaurant.name" class="form-control text-input center-block" aria-label="Text input with segmented button dropdown" id="search" placeholder="Search for Restaurants">
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label class="sr-only" for="location"></label>
                    <input type="text" value="Boston" ng-model="model.restaurant.place" class="form-control text-input center-block" id="location" placeholder="Location">
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <button role="button" ng-click="model.search(model.restaurant)"  class="btn btn-info search-button-mainpage center-block">
                        <span class="glyphicon glyphicon-search" aria-hidden="true">Search</span></button>
                </div>
            </div>
        </div>
    </div>
<!--</section>-->



