<div class="container-fluid add-padding">
    <div class="col-lg-8 col-md-8">

        <div class="row card elevation1">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <img class="img img-responsive image-thumbnail details-image" ng-src="{{model.info.response.venue.bestPhoto.prefix}}300x500{{model.info.response.venue.bestPhoto.suffix}}"/>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 modify-font">

            <h3 class="site-color">{{model.info.response.venue.name}}</h3>
            <p>{{model.info.response.venue.location.address}},{{model.info.response.venue.location.city}},{{model.info.response.venue.location.country}} - {{model.info.response.venue.contact.phone}}</p>

            <p>{{model.info.response.venue.url}}</p>
            <ul ng-repeat="i in model.info.response.venue.categories">
                <li>
                    <i>
                {{i.name}}
                        </i>
                </li>
            </ul>


            <p class="site-color"><i>"{{model.info.response.venue.tips.groups[0].items[1].text}}"</i></p>

            <p>
                <span ng-class="{'glyphicon-heart': model.isVenueInFavourites(user.favourites, model.info.response.venue.id),
                'glyphicon-heart-empty': ! model.isVenueInFavourites(user.favourites, model.info.response.venue)}"
                      ng-click="model.addFavourite(model.info.response.venue)"
                      class="glyphicon"></span>

            </p>

        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <p>
                <h2 class="site-color">{{model.info.response.venue.rating}}</h2>
            </p>
        </div>
    </div>

        <div class="row">
            <div class="col-lg-5">
                <div class="card elevation1">
                    <div class="form-header">
                        <h3 class="container-fluid site-color">
                            Write a Review!
                        </h3>
                        <form class="form-horizontal">
                            <textarea placeholder="Write a review!" ng-model ="model.review" class="form-control review-textarea" rows="8" cols="40"></textarea>
                            <button ng-click ="model.addReview(model.info.response.venue,model.review)" class="btn btn-primary site-color-background form-control">Submit a Review</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 card elevation1">
                <h3 class="site-color">User Reviews</h3>
                <hr>
                <ul ng-repeat="i in model.allReviews ">
                    <li class="site-color">
                        <b>@{{i.username}}</b>   &nbsp; &nbsp;   <button ng-click="model.follow(i.username)" ng-show = "user.follows.indexOf(i.username) == -1" class="btn btn-danger register-button">Follow</button>
                        <button ng-click = "model.removeFollow(i.username)" ng-show = "user.follows.indexOf(i.username) > -1" class="btn btn-danger register-button">Following</button>
                    </li>
                    <p><b>{{i.reviews}}</b></p>

                </ul>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4">
                <div id="map">

                </div>
            </div>



</div>







