<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <title>Single Line Field</title>
</head>
<body>
<div class="container">
    <label>Label</label>

    <input type="text" class="col-sm-3 col-md-3 form-control">

    <br/>
    <label>Placeholder</label>

    <input type="text" class="col-sm-3 col-md-3 form-control">

    <br/>
    <p>
        <button type = "button" class = "btn btn-primary">
            Ok
        </button>
        &nbsp;
        &nbsp;
        <button type = "button" class = "btn btn-default">
            Cancel
        </button>
    </p>
</div>
</body>
</html>